# Chapter 3: Data Manipulation with Pandas

`Series` and `DataFrame` objects for dealing with compound, heterogeneous data.

In [1]:
import pandas
pandas.__version__

'0.23.0'

In [5]:
# start by introducing Series, DataFrame, and Index objects
import numpy as np
import pandas as pd

## The Pandas Series Object

The Pandas `Series` object is a 1D array of indexed data. It can be created from a list or array:

In [6]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

Each value has an index, which we can access with the `values` and `index` attributes. Similar to NumPy array.

In [7]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

The index is an array-like object of type `pd.Index` which we will discuss in more detail momentarily.

In [8]:
data.index

RangeIndex(start=0, stop=4, step=1)

Like numpy, data is accessed by the familiar square brackets.

In [9]:
data[1]

0.5

In [10]:
data[1:3]

1    0.50
2    0.75
dtype: float64

### Series as generalized NumPy array

`Series` seems very similar to a NumPy array, but the essential difference is the presence of the index. NumPy arrays have an *implicitly defined* index, whereas `Series` objects have an *explicitly defined* index associated with values.  

This index doesn't need to be an integer. They can be values of any type. For example, we can use strings as an index:

In [17]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index = ["a", "b", "c", "d"])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [14]:
# item access works as expected
data["a"]

0.25

In [15]:
# we can even use concontiguous or nonsequential indices:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index = [2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [16]:
data[5]

0.5

### Series as a specialized dictionary

A `dictionary` maps arbitraray keys to a set of arbitrary values, and a `Series` maps typed keys to typed values. We can make this analogy even more clear by constructing a `Series` object from a Python `dictionary`.

In [30]:
population_dict = {"California": 546432,
                   "Texas": 123987,
                   "New York": 877896,
                   "Florida": 435276,
                   "Illinois": 128083}

population = pd.Series(population_dict)
population

California    546432
Texas         123987
New York      877896
Florida       435276
Illinois      128083
dtype: int64

In [31]:
# access like a dictionary
population["California"]

546432

Unlike a dictionary, `Series` objects support arry-stly operations like slicing.

In [29]:
population["California":"Florida"]

California    546432
Texas         123987
New York      877896
Flordia       435276
dtype: int64

### Constructing Series Objects

From scratch, all `Series` objects are some version of the following:  

> `pd.Series(data, index = index)`  

where `index` is an optional argument, and data is one of many entities. For example, `data` can be a NumPy array, in which case, `index` defaults to an integer sequence:

In [32]:
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [33]:
pd.Series(5, [100, 200, 300])

100    5
200    5
300    5
dtype: int64

`data` can be a dictionary in which `index` defaults to the sorted dictionary keys:

In [35]:
pd.Series({2:"a", 1:"b", 3:"c"})

2    a
1    b
3    c
dtype: object

In each case, the index can be explicity set if a different result is preferred.

In [36]:
pd.Series({2:"a", 1:"b", 3:"c"}, index = [3, 2])

3    c
2    a
dtype: object

Notice that in this case, the `Series` is only populated with the explicitly defined keys.

## The Pandas DataFrame Object

Like the `Series` object before, the `DataFrame` can be thought of as a generalized NumPy array or a specialized Python dictionary.  

### DataFrame as a generalized NumPy array  

If `Series` are an analog of 1D arrays, then `DataFrame`s are a analog of 2D arrays with flexible row indices and column names. It's like an aligned set of `Series` objects, that all share the same index.

In [37]:
area_dict = {"California": 678,
             "Texas": 232,
             "New York": 876,
             "Florida": 123,
             "Illinois": 245}

area = pd.Series(area_dict)
area

California    678
Texas         232
New York      876
Florida       123
Illinois      245
dtype: int64

Now construct a 2D object with this information.

In [38]:
states = pd.DataFrame({"population": population,
                       "area": area})
states

            population  area
California      546432   678
Texas           123987   232
New York        877896   876
Florida         435276   123
Illinois        128083   245

In [39]:
# like Series, the dataframe as an `index` attribute
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Additionally, the `DataFrame` has an `columns` attribute holding column labels.

In [40]:
states.columns

Index(['population', 'area'], dtype='object')

Thus, the `DataFrame` object can be thought of as a generalized 2D NumPy array with indices for both columns and rows.  

### DataFrame as a specialized dictionary

A dictionary maps a key to a value, and a `DataFrame` maps a column name to a `Series` objkect of column data. For example, asking for the `area` column returns the `Series` object contaiing the areas we saw earlier.

In [46]:
states["area"]

California    678
Texas         232
New York      876
Florida       123
Illinois      245
Name: area, dtype: int64

In [47]:
type(states["area"])

pandas.core.series.Series

### Constructing DataFrame objects

#### From a single Series object

In [64]:
pd.DataFrame(population, columns = ["population"])

            population
California      546432
Texas           123987
New York        877896
Florida         435276
Illinois        128083

#### From a list of dictionaries

In [68]:
data = [{"a": i, "b": 2 * i} 
         for i in range(3)]
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [69]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

If some key-value pairs are missing in the dictionary, Pandas fills them in with a `NaN`.

In [73]:
pd.DataFrame([{'a': 0, 'b': 0}, {'a': 1, 'b': 2, 'c':4}])

   a  b    c
0  0  0  NaN
1  1  2  4.0

#### From a dictionary of Series objects

In [75]:
pd.DataFrame({"population": population,
              "area": area})

            population  area
California      546432   678
Texas           123987   232
New York        877896   876
Florida         435276   123
Illinois        128083   245

#### From a 2D NumPy array

If the `index` argument is omitted, an integer index is used for each.

In [76]:
pd.DataFrame(np.random.rand(3, 2),
             columns = ["foo", "bar"])

        foo       bar
0  0.479259  0.974246
1  0.556690  0.003348
2  0.554987  0.539892

In [77]:
pd.DataFrame(np.random.rand(3, 2),
             columns = ["foo", "bar"],
             index = ["a", "b", "c"])

        foo       bar
a  0.330828  0.085133
b  0.641851  0.597219
c  0.629593  0.951065

#### From a NumPy structured array

See pg. 92 for structured arrays.

In [78]:
A = np.zeros(3, dtype = [("A", "i8"), ("B", "f8")])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [80]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## The Pandas Index Object

The `Series` and `DataFrame` objects contain an explicit `index` that lets you refrence and modify data. The `index` can be thought of as an *immutable array* or as an *ordered set*. Let's construct an `Index` from a list of integers:

In [81]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

#### Index as immutable string

`Index` operates like a NumPy array. Can use standard Python indexing notation to derive slices.

In [82]:
ind[1]

3

In [88]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

`Index` objects also have many familiar NumPy array attributes:

In [89]:
print(ind.size, 
      ind.shape,
      ind.ndim, 
      ind.dtype)

5 (5,) 1 int64

One difference between `Index` objects and NumPy arrays is that `Index` objects are immutable: they cannot be changed via normal means.

In [94]:
ind[1] = 0

TypeError: Index does not support mutable operations

Immutability makes is safe to share indices between multiple `DataFrames` and arrays, without potential for side effects from inadvertent index modification.  

#### Index as ordered set

Pandas objects are designed to faciliate joins across datasets, which depend on amny aspects of set arithmetic. The `Index` object thus follows Python's built-in `set` conventions, so unions, differences, intersections, and other combinations are computed in a familiar way.

In [105]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 4, 6, 8, 10])

The intersection is the empty set, since no elements are shared in common.

In [106]:
# intersection: empty set
indA & indB 
indA.intersection(indB)

Int64Index([], dtype='int64')

In [110]:
# union
indA | indB 
indA.union(indB)

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')

The symmetric difference, also known as the disjunctive union, of two sets is the set of elements which are in either of the sets and not in their intersection. Since the intersection is an empty set, the symmetric difference is the same as the union of the two sets.

In [112]:
# symmetric difference
indA ^ indB 
indA.symmetric_difference(indB)

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')

## Data Indexing and Selection

Indexing, slicing, masking, fancy indexing, and combinations for Pandas `DataFrame`s. Start with 1D series, then move to 2D `DataFrame`.  

### Data Selection in Series

#### Series as Dictionary

In [114]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index = ['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [116]:
data['b']

0.5

We can also use the ditionary-like Python expressions and methods to examine keys/indices and values:

In [120]:
'a' in data

True

In [121]:
'g' in data

False

In [122]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [125]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

`Series` objects can even be modified with a dictionary-like syntax. Extend a dictionary bya ssigning a new key, and extend a `Series` by assigning a new index.

In [126]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

#### Series as a 1D array

Array stlye item selection as with NumPy: *slices, masking, fancy indexing*.

In [127]:
# slicing by explicit index
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [128]:
# slice by implicit integer index
data[0:2]

a    0.25
b    0.50
dtype: float64

In [129]:
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [130]:
# fancy indexing: pass an array of index names
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

In [133]:
# fancy indexing: pass an array of implicit integer index
data[[0,3]]

a    0.25
d    1.00
dtype: float64

When slicing with an **explicit** index name, the final index is **included** in the slice. When slicing by an **implicit** integer index, the final index is **excluded** from the slice.  

#### Indexers: loc, iloc, ix

Pitfall: if a `Series` has an **explicit integer** index, an indexing operation such as `data[1]` will use the explicit indices, while a slicing operation like `data[1:3]` will use the implicit Python-style index.

In [134]:
data = pd.Series(['a','b','c'], index = [1,3,5])
data

1    a
3    b
5    c
dtype: object

In [135]:
# explicit index when indexing
data[1]

'a'

In [137]:
# implicit index when slicing
data[1:3]

3    b
5    c
dtype: object

Because of this potential confusion in the case of **integer indices**, Pandas provides some special **indexer** attributes that explicitly expose certain indexing schemes. These are not functional methods, but attributes that expose a particular slicing interface to the data in the `Series`.  

First, the `loc` attribute allows **indexing and slicing that always references the explicit index name**:

In [138]:
data.loc[1]

'a'

In [144]:
data.loc[1:3] # where loc refers to the INDEX NAME

1    a
3    b
dtype: object

In [143]:
# compare to 
data[1:3]

3    b
5    c
dtype: object

The `iloc` attribute allows indexing that **always references the implicit integer Python-style index**:

In [145]:
data.iloc[1]

'b'

In [146]:
data.iloc[1:3]

3    b
5    c
dtype: object

## Data Selection in DataFrame

### DataFrame as Dictionary

In [311]:
area = pd.Series({"California": 678,
                  "Texas": 232,
                  "New York": 876,
                  "Florida": 123,
                  "Illinois": 245})

pop = pd.Series({"California": 546432,
                 "Texas": 123987,
                 "New York": 877896,
                 "Florida": 435276,
                 "Illinois": 128083})

data = pd.DataFrame({'area': area, 'pop': pop})
data

            area     pop
California   678  546432
Texas        232  123987
New York     876  877896
Florida      123  435276
Illinois     245  128083

Access individual `Series` that make up columns of the `DataFrame` with dictionary-style indexing:

In [149]:
data['area']

California    678
Texas         232
New York      876
Florida       123
Illinois      245
Name: area, dtype: int64

Attribute style-access with column names as strings:

In [156]:
data.area

California    678
Texas         232
New York      876
Florida       123
Illinois      245
Name: area, dtype: int64

These two indexing approaches yield exact results:

In [158]:
data['area'] is data.area

True

In [159]:
data['area'] == data.area

California    True
Texas         True
New York      True
Florida       True
Illinois      True
Name: area, dtype: bool

Though the attribute style indexing is useful, it does not always work. If column names are not strings, or if column names conflict with `DataFrame` methods, it fails. For example, the `DataFrame` has a `pop()` method, so `data.pop` does this, rather than the population column:

In [164]:
data.pop is data['pop']

False

In [165]:
data.pop

<bound method NDFrame.pop of             area     pop
California   678  546432
Texas        232  123987
New York     876  877896
Florida      123  435276
Illinois     245  128083>

In particular, try to avoid column assignment via attributes: ie use `data['pop'] = z` rather than `data.pop = z`.  

Like with Series, dictionary-style syntax can be used to modify data, such as adding a new column:

In [320]:
data['density'] = data['pop'] / data['area']
data

            area     pop      density
California   678  546432   805.946903
Texas        232  123987   534.426724
New York     876  877896  1002.164384
Florida      123  435276  3538.829268
Illinois     245  128083   522.787755

### DataFrame as a 2D array

Access raw underlying 2D array with `.values` attribute:

In [168]:
data.values

array([[6.78000000e+02, 5.46432000e+05, 8.05946903e+02],
       [2.32000000e+02, 1.23987000e+05, 5.34426724e+02],
       [8.76000000e+02, 8.77896000e+05, 1.00216438e+03],
       [1.23000000e+02, 4.35276000e+05, 3.53882927e+03],
       [2.45000000e+02, 1.28083000e+05, 5.22787755e+02]])

Thinking of it this way, we can do array-style operations on `DataFrame`s. For instance, swapping rows/columns with a transpose:

In [169]:
data.T

,California,Texas,New York,Florida,Illinois
area,678.000000,232.000000,876.000000,123.000000,245.000000
pop,546432.000000,123987.000000,877896.000000,435276.000000,128083.000000
density,805.946903,534.426724,1002.164384,3538.829268,522.787755

In [172]:
# access a single row
data.values[0]

array([   678.        , 546432.        ,    805.94690265])

In [179]:
# access a single row
data.iloc[0]

area          678.000000
pop        546432.000000
density       805.946903
Name: California, dtype: float64

In [182]:
# by implicit integer index iloc
data.iloc[:3, :2]        # rows 1-3 and columns 1-2. In R --> data[c(1:3), c(1:2)]

            area     pop
California   678  546432
Texas        232  123987
New York     876  877896

In [189]:
# by explicit index name using `loc`
data.loc[:'New York', :'pop']

            area     pop
California   678  546432
Texas        232  123987
New York     876  877896

In [194]:
# combine masking and fancy indexing
# for example, find all states with population less than 200,000 and area greater than 200
data[ (data['pop'] < 200000) & (data['area'] >= 200) ]

          area     pop     density
Texas      232  123987  534.426724
Illinois   245  128083  522.787755

In [196]:
# these are actually the states with the lowest density, so find that
data[data['density'] == min(data['density'])]

          area     pop     density
Illinois   245  128083  522.787755

Combine masking and fancy indexing with `.loc`:

In [202]:
# find all density greater than 600, and return just population and density
data.loc[(data.density > 600), ['pop', 'density']]

               pop      density
California  546432   805.946903
New York    877896  1002.164384
Florida     435276  3538.829268

Can use indexing to modify values:

In [250]:
data.iloc[0, 2] = 99
data

            area     pop      density
California   678  546432    99.000000
Texas        232  123987   534.426724
New York     876  877896  1002.164384
Florida      123  435276  3538.829268
Illinois     245  128083   522.787755

### Additional Indexing Conventions

Indexing refers to columns, and slicing refers to rows.

In [256]:
# slicing by row index
data['California':'New York']

            area     pop      density
California   678  546432    99.000000
Texas        232  123987   534.426724
New York     876  877896  1002.164384

In [257]:
# slice by column name? DOESN'T WORK
data['area':'pop']

KeyError: 'area'

In [264]:
# but try loc for using regular RC indexing with explicit column names
data.loc[:, 'area':'pop']

            area     pop
California   678  546432
Texas        232  123987
New York     876  877896
Florida      123  435276
Illinois     245  128083

In [266]:
data.loc[:, ['area', 'density']]

            area      density
California   678    99.000000
Texas        232   534.426724
New York     876  1002.164384
Florida      123  3538.829268
Illinois     245   522.787755

In [268]:
data.loc['California':'New York', 'area':'pop']

            area     pop
California   678  546432
Texas        232  123987
New York     876  877896

In [273]:
# also use iloc for implicit integer index
data.iloc[:, [0,1]]

            area     pop
California   678  546432
Texas        232  123987
New York     876  877896
Florida      123  435276
Illinois     245  128083

In [274]:
data.iloc[:, 0:2]

            area     pop
California   678  546432
Texas        232  123987
New York     876  877896
Florida      123  435276
Illinois     245  128083

In [277]:
data.iloc[0:2, [0,1]]

            area     pop
California   678  546432
Texas        232  123987

In [279]:
# reverse rows
data.iloc[::-1, [0,1]]

            area     pop
Illinois     245  128083
Florida      123  435276
New York     876  877896
Texas        232  123987
California   678  546432

In [280]:
# every two rows
data.iloc[::2, [0,1]]

            area     pop
California   678  546432
New York     876  877896
Illinois     245  128083

In [314]:
# if you're going to change values, MAKE A COPY of the data!
copy = data.iloc[:, [0,1]].copy()

In [315]:
copy.loc['California', :] = [999, 7777777]

In [316]:
copy

            area      pop
California   999  7777777
Texas        232   123987
New York     876   877896
Florida      123   435276
Illinois     245   128083

In [317]:
data

            area     pop
California   678  546432
Texas        232  123987
New York     876  877896
Florida      123  435276
Illinois     245  128083

In [322]:
#### Slice by row number
data[1:3]

          area     pop      density
Texas      232  123987   534.426724
New York   876  877896  1002.164384

In [325]:
data[data.density > 1000]

          area     pop      density
New York   876  877896  1002.164384
Florida    123  435276  3538.829268

***  

## Operating on Data in Pandas

Extension of NumPy's UFuncs. **Automatically aligns indices** when passing Series objects to UFuncs, and **perserves column and index labels in output**.  

### UFuncs: Index Preservation  

All NumPy UFuncs work on pandas `Series` and `DataFrame` objects.

In [326]:
import pandas as pd
import numpy as np

rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser

0    6
1    3
2    7
3    4
dtype: int32

In [330]:
df = pd.DataFrame(rng.randint(0, 10, (3,4)),
                  columns = ['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  1  7  5  1
1  4  0  9  5
2  8  0  9  2

In [332]:
# UFuncs perserve row index and column names
np.exp(df)

             A            B            C           D
0     2.718282  1096.633158   148.413159    2.718282
1    54.598150     1.000000  8103.083928  148.413159
2  2980.957987     1.000000  8103.083928    7.389056

In [333]:
np.sin(df * np.pi / 4)

              A         B         C         D
0  7.071068e-01 -0.707107 -0.707107  0.707107
1  1.224647e-16  0.000000  0.707107 -0.707107
2 -2.449294e-16  0.000000  0.707107  1.000000

### UFuncs: Index Alignment

very convenient when working with missing/incomplete data.

#### Index Allignment in Series

In [335]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name = 'area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                  'New York': 19651127}, name = 'population')

In [336]:
population/area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

In [337]:
# missing values are filled in by NaN by default
A = pd.Series([2, 4, 6], index = [0, 1, 2])
B = pd.Series([1, 3, 5], index = [1, 2, 3])
A + B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

The `filll_value` argument allows us to specify what value to use in place of missing values:

In [341]:
A.add(B, fill_value = 0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [344]:
A.add(B, fill_value=999)

0    1001.0
1       5.0
2       9.0
3    1004.0
dtype: float64

#### Index Alignment in DataFrame

This alignmnet takes place for column names and row indices for `DataFrame` Ufuncs.

In [352]:
A = pd.DataFrame(rng.randint(0, 20, (2,2)), columns = list('AB'))
A

    A   B
0  17   3
1  13  17

In [353]:
B = pd.DataFrame(rng.randint(0, 10, (3,3)), columns = list('ABC'))
B

   A  B  C
0  9  8  9
1  4  1  3
2  6  7  2

In [354]:
A + B

      A     B   C
0  26.0  11.0 NaN
1  17.0  18.0 NaN
2   NaN   NaN NaN

In [355]:
A.add(B, fill_value=999)

        A       B       C
0    26.0    11.0  1008.0
1    17.0    18.0  1002.0
2  1005.0  1006.0  1001.0

### UFuncs: Operations between DataFrame and Series

In [361]:
A = rng.randint(10, size = (3, 4))
A

array([[0, 3, 1, 7],
       [3, 1, 5, 5],
       [9, 3, 5, 1]])

In [362]:
A - A[0] # subtracts the first row from all the rows of A

array([[ 0,  0,  0,  0],
       [ 3, -2,  4, -2],
       [ 9,  0,  4, -6]])

In [363]:
A[0]

array([0, 3, 1, 7])