# Pandas Practice

In [12]:
import pandas as pd
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
iris.shape

(150, 5)

In [14]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [15]:
iris.keys()

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [16]:
iris.keys() is iris.columns

True

In [17]:
iris['sepal_width'] is iris.sepal_width

True

In [18]:
iris.sepal_width.head()

0    3.5
1    3.0
2    3.2
3    3.1
4    3.6
Name: sepal_width, dtype: float64

In [19]:
# filter(iris, sepal_length > 5 & petal_width == 0.2)
iris.query('sepal_length > 5 & petal_width == 0.2')

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
10           5.4          3.7           1.5          0.2  setosa
14           5.8          4.0           1.2          0.2  setosa
20           5.4          3.4           1.7          0.2  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
33           5.5          4.2           1.4          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
46           5.1          3.8           1.6          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa

In [20]:
# iris[iris$sepal_length > 5 & iris$petal_width == 0.2, ]
iris[(iris.sepal_length > 5) & (iris.petal_width == 0.2)]

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
10           5.4          3.7           1.5          0.2  setosa
14           5.8          4.0           1.2          0.2  setosa
20           5.4          3.4           1.7          0.2  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
33           5.5          4.2           1.4          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
46           5.1          3.8           1.6          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa

In [21]:
# select(iris, sepal_width, species)
iris[['sepal_width', 'species']].head()

   sepal_width species
0          3.5  setosa
1          3.0  setosa
2          3.2  setosa
3          3.1  setosa
4          3.6  setosa

In [22]:
# select(iris, sepal_width: species)
iris.loc[:, 'sepal_width':'species'].head()

   sepal_width  petal_length  petal_width species
0          3.5           1.4          0.2  setosa
1          3.0           1.4          0.2  setosa
2          3.2           1.3          0.2  setosa
3          3.1           1.5          0.2  setosa
4          3.6           1.4          0.2  setosa